<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class]="theme">




  <ion-grid>
      <ion-row style="height:300px">
          <ion-col col-12>

              <!-- [view]="view" -->

              <ngx-charts-line-chart
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [autoScale]="autoScale"
              [animations]="animations"
              [timeline]="timeline"
              (select)="onSelect($event)">
              </ngx-charts-line-chart>
            
            
          </ion-col>
      </ion-row>
      <ion-row style="height:200px">
          <ion-col col-8>
              <ion-scroll scrollY="true" style="height:100%;" >
                  <ion-list  radio-group [(ngModel)]="source_id" no-lines>
                      <ion-item *ngFor="let item of source">                
                        <ion-label>{{item[1]}}</ion-label>
                        <ion-radio value="{{item[0]}}"></ion-radio>
                      </ion-item>
                    </ion-list>
              </ion-scroll>
          </ion-col>

          <ion-col col-4>
            <ion-scroll scrollY="true" style="height:100%;" >
                <ion-list  radio-group [(ngModel)]="limit" no-lines>
                    <ion-item *ngFor="let item of limit_list">                
                      <ion-label>{{item}}</ion-label>
                      <ion-radio value="{{item}}"></ion-radio>
                    </ion-item>
                  </ion-list>
            </ion-scroll>
        </ion-col>

      </ion-row>
          <!-- <ion-row>
            <ion-col col-12>
          
              <ion-item>
                <ion-range [(ngModel)]="level" min=0 max=2 step=1 snaps>
                  <ion-icon range-left small name="clock"></ion-icon>
                  <ion-icon range-right name="clock"></ion-icon>
                </ion-range>
              </ion-item>
          
            </ion-col>
            <ion-col col-12>
          
              <ion-item>
                <ion-range [(ngModel)]="source_id" min=0 max=10 step=1 snaps>
                <ion-icon range-left small name="value"></ion-icon>
                <ion-icon range-right name="value"></ion-icon>
              </ion-range>
          </ion-item>


      </ion-col>
      <ion-col col-12>

          <ion-item>
              <ion-range [(ngModel)]="limit" min=0 max=4000 step=1 snaps>
                <ion-icon range-left small name="min"></ion-icon>
                <ion-icon range-right name="max"></ion-icon>
              </ion-range>
          </ion-item>


      </ion-col>
      </ion-row> -->
  </ion-grid>    

</ion-content>
